@model List<Item>
@{
    ViewData["Title"] = "Products";
}

<div class="page-header d-md-flex justify-content-between">
    <div>
        <h3>Users</h3>
        <nav aria-label="breadcrumb" class="d-flex align-items-start">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="index" asp-controller="products">Products list</a>
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            @for(int ItemIndex = 0 ; ItemIndex < Model.Count ; ++ItemIndex)
            {
                @for(int sizeIndex = 0 ; sizeIndex < Model[ItemIndex].SizeIds.Count ; ++sizeIndex)
                {
                    <div class="col-md-4 col-xs-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="my-3">
                                    <a href="#" title="Vase">
                                        <img src="~/images/@Model[ItemIndex].Picture"
                                             class="img-fluid rounded" alt="Vase">
                                    </a>
                                </div>
                                <div class="text-center">
                                    <a href="#">
                                        <h4>@Model[ItemIndex].Name - @Model[ItemIndex].SizeIds[sizeIndex].Type</h4>
                                    </a>
                                    <p>
                                        <span class="text-truncate"> @(@Model[ItemIndex].Price +@Model[ItemIndex].SizeIds[sizeIndex].SizePrice) BHD</span>
                                    </p>
                                    <div class="mt-2">
                                        <button onclick="AddToCard(@ItemIndex , @sizeIndex ,)"
                                        class="btn btn-primary add-to-card">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
       </div>
   </div>
</div>
           
<script>
    var index = 0;
    function AddToCard(itemIndex , sizeIndex) 
    {
      
       var Items = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model));
        
       window.localStorage.setItem("index", JSON.stringify(++index));
        let product = {
            "productId" : Items[itemIndex].Id,
            "productName" : Items[itemIndex].Name,
            "productPrice" : Items[itemIndex].Price,
            "productPicture" : Items[itemIndex].Picture,
            "productSizeName" : Items[itemIndex].SizeIds[sizeIndex].Type,
            "productSizePrice" : Items[itemIndex].SizeIds[sizeIndex].SizePrice,
        };
        var i = localStorage.getItem("index");
        window.localStorage.setItem("product" +  i , JSON.stringify(product));
        location.reload();
        //window.localStorage.clear();
    }
</script>